:root {
	--scroll-padding: 7rem;
	/* COLOURS */
	/* 	--tvsb-btn-primary: 113 83% 21%; */
	--tvsb-clr-secondary: 204 21% 23%;
	--tvsb-clr-light: 214 37% 96%;
	--tvsb-clr-lightgrey: 200 0% 83%;
	--tvsb-clr-dark: 216 86% 6%;
	--tvsb-clr-skyblue: 203 100% 90%;
	--tvsb-clr-blue: 216 70% 29%;
	--tvsb-clr-green: 113 83% 21%;
	--tvsb-clr-highlight-green: 115 98% 51%;
	--tvsb-clr-highlight-yellow: 60 100% 50%;
	--tvsb-clr-highlight-red: 0 100% 50%;
	--ombudsman-purple-color: 300 89% 14%;
	--ombudsman-purple-green: 157 60% 63%;
}
body {
	min-block-size: 100svh;
	min-height: 100dvh;
}
main {
	min-height: 100svh;
}
.navbar-padding {
	padding-top: var(--scroll-padding);
}
span.anchor {
	display: block;
	position: relative;
	top: -100px;
	visibility: hidden;
}
/* TYPOGRAPHY */
/* Font sizes */
p,
li,
div,
.btn {
	font-size: 1.3rem;
}
.fontsize-sm {
	font-size: 0.75em;
}
.fontsize-xs {
	font-size: 0.45em;
}
/* Text Colours */
.txt-blue {
	color: hsl(var(--tvsb-clr-blue));
}
.txt-red {
	color: hsl(var(--tvsb-clr-highlight-red));
}
/* Headings */
h1,
h2,
h3 {
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-wrap: balance;
	color: hsl(var(--tvsb-clr-blue));
}
/* NAVBAR */
.navbar-nav {
	align-items: end;
}
.navbar-brand,
.nav-link,
.navbar-toggler {
	color: hsl(var(--tvsb-clr-blue));
}
.navbar-brand {
	font-size: 1.5em;
	padding-inline: 0.5em;
	margin-inline: 0.1em;
}
.br.a {
	line-height: 0.5px;
	font-size: 0.1px;
}
/* #customNav {
	/* --bs-navbar-color: #e2e8f0; */
	--bs-navbar-hover-color: #ffffff;
	--bs-navbar-active-color: #63b3ed;
	--bs-navbar-brand-color: #ffffff;
	--bs-navbar-brand-hover-color: #63b3ed;
	--bs-navbar-toggler-border-color: rgba(255, 255, 255, 0.2);
	background-color: #1e3a5f;
	padding: 1rem 0;
} */
.nav-link {
	color: hsl(var(--tvsb-clr-blue));
	font-size: 1.1em;
}
.nav-link:active {
	color: hsl(var(--tvsb-clr-green));
}

.nav-link:hover,
.nav-link:focus {
	text-decoration: underline;
}
/* BUTTONS */
.btn-primary {
	color: hsl(var(--tvsb-clr-light));
	background-color: hsl(var(--tvsb-clr-blue));
	border: 2px solid hsl(var(--tvsb-clr-blue));
}
.btn-primary:hover,
.btn-primary:focus {
	color: hsl(var(--tvsb-clr-blue));
	background-color: hsl(var(--tvsb-clr-skyblue));
	border: 2px solid hsl(var(--tvsb-clr-blue));
}
.btn-outline-primary {
	color: hsl(var(--tvsb-clr-blue));
	font-size: 1.1em;
	background-color: hsl(var(--tvsb-clr-light));
	border: 2px solid hsl(var(--tvsb-clr-blue));
}
.btn-outline-primary:hover,
.btn-outline-primary:focus {
	color: hsl(var(--tvsb-clr-blue));
	background-color: hsl(var(--tvsb-clr-skyblue));
}
.btn-danger {
	font-size: 1.1em;
}
.btn-ombudsman {
	background-color: hsl(var(--ombudsman-purple-color));
	color: hsl(var(--ombudsman-purple-green));
	font-size: 1.1em;
}
.btn-ombudsman:hover {
	background-color: hsl(var(--ombudsman-purple-color));
	color: hsl(var(--ombudsman-purple-green));
	text-decoration: underline;
}
/* Accordion buttons */
/* Change colour of icon when collapsed  */
/* .accordion-button::after {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
} */
/* LINKS */
/* BACKGROUNDS */
.back-gradient-nav {
	border-image: fill 1
		linear-gradient(hsl(var(--tvsb-clr-light)), hsl(var(--tvsb-clr-lightgrey)));
}
.back-gradient {
	border-image: fill 1
		linear-gradient(hsl(var(--tvsb-clr-light)), hsl(var(--tvsb-clr-blue) / 0.3));
}

.back-crane-chimney {
	background-color: rgba(46, 52, 55, 0.8);
	background-image:
		linear-gradient(
			hsl(var(--tvsb-clr-dark) / 0.4),
			hsl(var(--tvsb-clr-dark) / 0.4)
		),
		url("images/tvb-crane-chimney-installation-banner.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}
.status-green {
	background-color: hsl(var(--tvsb-clr-highlight-green));
}
.status-yellow {
	background-color: hsl(var(--tvsb-clr-highlight-yellow));
}
/* ICONS */
