:root {
	--scroll-padding: 76px;
	/* COLOURS */
	/* 	--tvsb-btn-primary: 113 83% 21%; */
	--tvsb-clr-secondary: 204 21% 23%;
	--tvsb-clr-light: 214 37% 96%;
	--tvsb-clr-dark: 216 86% 6%;
	--tvsb-clr-skyblue: 203 100% 90%;
	--tvsb-clr-blue: 216 70% 29%;
	--tvsb-clr-green: 113 83% 21%;
	--tvsb-clr-highlight-green: 115 98% 51%;
	--tvsb-clr-highlight-yellow: 60 100% 50%;
	--ombudsman-purple-color: 300 89% 14%;
	--ombudsman-purple-green: 157 60% 63%;
}
body {
	min-block-size: 100svh;
	min-height: 100dvh;
}
main {
	min-height: 100svh;
}
.navbar-padding {
	padding-top: var(--scroll-padding);
}

/* TYPOGRAPHY */
/* Font sizes */
.fontsize-sm {
	font-size: 0.75em;
}
.fontsize-xs {
	font-size: 0.45em;
}
/* Headings */
h1,
h2,
h3 {
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-wrap: balance;
	color: hsl(var(--tvsb-clr-blue));
}
/* NAVBAR */
.navbar-nav {
	align-items: end;
}
.navbar-brand,
.nav-link,
.navbar-toggler {
	color: hsl(var(--tvsb-clr-blue));
}
.navbar-brand {
	font-size: 1.4em;
	padding-inline: 1.5em;
}
.br.a {
	line-height: 0.5px;
	font-size: 0.1px;
}
.nav-link {
	color: hsl(var(--tvsb-clr-blue));
	font-size: 1.1em;
}
.nav-link:active {
	color: hsl(var(--tvsb-clr-green));
}
/* BUTTONS */

.btn-primary {
	color: hsl(var(--tvsb-clr-light));
	font-size: 1.1em;
	background-color: hsl(var(--tvsb-clr-blue));
	border: 2px solid hsl(var(--tvsb-clr-blue));
}
.btn-primary:hover,
.btn-primary:focus {
	color: hsl(var(--tvsb-clr-blue));
	background-color: hsl(var(--tvsb-clr-skyblue));
	border: 2px solid hsl(var(--tvsb-clr-blue));
}
.btn-outline-primary {
	color: hsl(var(--tvsb-clr-blue));
	font-size: 1.1em;
	background-color: hsl(var(--tvsb-clr-light));
	border: 2px solid hsl(var(--tvsb-clr-blue));
}
.btn-outline-primary:hover,
.btn-outline-primary:focus {
	color: hsl(var(--tvsb-clr-blue));
	background-color: hsl(var(--tvsb-clr-skyblue));
}
.btn-danger {
	font-size: 1.1em;
}
.btn-ombudsman {
	background-color: hsl(var(--ombudsman-purple-color));
	color: hsl(var(--ombudsman-purple-green));
	font-size: 1.5em;
}
.btn-ombudsman:hover {
	background-color: hsl(var(--ombudsman-purple-color));
	color: hsl(var(--ombudsman-purple-green));
	text-decoration: underline;
}
/* LINKS */
/* BACKGROUNDS */
.back-gradient {
	border-image: fill 1
		linear-gradient(hsl(var(--tvsb-clr-light)), hsl(var(--tvsb-clr-blue) / 0.5));
}
.status-green {
	background-color: hsl(var(--tvsb-clr-highlight-green));
}
.status-yellow {
	background-color: hsl(var(--tvsb-clr-highlight-yellow));
}
/* ICONS */
